{% extends "layout-ab-test.html" %}

{% block pageTitle %}
There is a problem with the image - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-upload2.html">Back</a>
{% endblock %}

{% block content %}

  <!--- 
<div class="hods-alert hods-alert--error">
  <h2 class="hods-alert__heading">
    Upload unsuccessful
  </h2>
  <p>
    Please try again or contact our
    <a href="#">support team</a>
    for assistance.
  </p>
</div>
<br>

  --->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">There is a problem<br> with the image of your fit note</h1>

    
    <img src="/public/images/blurry-fitnote.png" class="fit-note" height="300" alt="">

<br>
<br>
<br>






          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:10%">
                
                <img src="/public/images/warning.png" class="fit-note-zoom" height="45" alt="">
        
              </dt>
               
              <dd class="govuk-summary-list__value">
                <h2 class="govuk-heading-m">The data matrix cannot be read</h2>
      
      
                <p>The data matrix is the small square of black and white dots at the bottom of your fit note. If it cannot be read, your fit note could take longer to process.</p>
              
                <p>If you took a photo of a paper fit note, take another photo, making sure the data matrix is in focus.</p>
                  <p>Or if you want to use this image, select the 'continue' button.</p>
          
              </dd>
            </div>
            </dl>
  
  
              




   







<br>

<br>



<div class="govuk-button-group">
  <form class="form" action="" method="post">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Choose another file
  </button></form>
  <form class="form" action="ni-number" method="post">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Continue
  </button></form>
</div>


</div>

  

  
    <div class="govuk-grid-column-one-third">
      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Talk to an advisor</h2>
        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
        </ul>
  
      </div>
    </div>
  
  </div>



  <!--- 


    <div class="hmpo-sidebar__inner">
            
      <h2>Your fit note</h2>
      <img src="/public/images/dev-upload6.JPG" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">
      
  
      </div>

  --->


  











    {% endblock %}
