{% extends "layout-ab-test.html" %}

{% block pageTitle %}
There is a problem with the image - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-upload">Back</a>
{% endblock %}

{% block content %}

  <!--- 
<div class="hods-alert hods-alert--error">
  <h2 class="hods-alert__heading">
    Upload unsuccessful
  </h2>
  <p>
    Please try again or contact our
    <a href="#">support team</a>
    for assistance.
  </p>
</div>
<br>

  --->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">There is a problem with<br> the image of your fit note</h1>

    
    <img src="/public/images/blurry2.png" class="fit-note" height="300" alt="">

<br>
<br>
<br>





<h2 class="govuk-heading-m">Your fit note cannot be accepted because:</h2>
   








        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:10%">
              
              <img src="/public/images/cross.png" class="fit-note-zoom"  height="35" alt="">
      
            </dt>
            <dd class="govuk-summary-list__value">
              <h3>The image is too light or too dark to read</h3>
    

        
    <p>If you have a paper fit note, take another photo, making sure the fit note is well lit.</p>

    

        




            </dd>
          </div>
          </dl>








        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:10%">
              
              <img src="/public/images/cross.png" class="fit-note-zoom" height="35" alt="">
      
            </dt>
            <dd class="govuk-summary-list__value">
              <h3>Some corners of the image cannot be seen</h3>
    

              <p>The top right and bottom right corners of your fit note image cannot be seen.</p>
          <p>This could be because the image is too dark or the photo was taken at an angle.</p>
            <p>If you have a paper fit note, take another photo, making sure the whole fit note is well lit and visible.
            </p>

    



            </dd>
          </div>
          </dl>

          <h2 class="govuk-heading-m">Your fit note might be accepted but could take longer to process because:</h2>




          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:10%">
                
                <img src="/public/images/warning.png" class="fit-note-zoom" height="45" alt="">
        
              </dt>
               
              <dd class="govuk-summary-list__value">
                <h3>The data matrix cannot be read</h3>
      
      
                <p>The data matrix is the small square of black and white dots at the bottom of your fit note. If it is missing or if it cannot be read by our system, your fit note will have to be processed manually.</p>
                
                  <p>If you have a paper fit note, take another photo, making sure the data matrix is clear and in focus.
                  </p>
                  
          
              </dd>
            </div>
            </dl>
  
  
              
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:10%">
                
                <img src="/public/images/warning.png" class="fit-note-zoom" height="45" alt="">
        
              </dt>
               
              <dd class="govuk-summary-list__value">
                <h3>The unique ID cannot be read</h3>
      
      
                <p>Your fit note should have the unique ID ‘Med 3’. If it’s missing or if it cannot be read by our system, your fit note could be rejected.</p>
                  <p>Check the unique ID on the bottom left of your fit note.</p>
                  <p>If you have a paper fit note, take another photo making sure the whole fit note is visible.</p><br>
                <img src="/public/images/med3-new.png" class="fit-note" height="300" alt="">

              </dd>
            </div>
            </dl>




   















  <div class="govuk-inset-text">
    If you cannot upload your fit note, <a href="" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link" rel="noreferrer noopener" >you can post it (opens in new tab)</a>.
  </div>


<br>







    <form class="form" action="dev-upload2" method="post">
      <button class="govuk-button" data-module="govuk-button">Go back</button></form>






      <br>
      <br>
      <br>
      <br>
      <br>



      <br>
      <br>
      <br>
      <br>
      <br>
         <p>
              <a href="data" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link"  >Data matrix warning page link</a>
                </p>




  </div>

  
    <div class="govuk-grid-column-one-third">
      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Talk to an advisor</h2>
        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
        </ul>
  







      </div>
    </div>
  
  </div>



  <!--- 


    <div class="hmpo-sidebar__inner">
            
      <h2>Your fit note</h2>
      <img src="/public/images/dev-upload6.JPG" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">
      
  
      </div>

  --->


  











    {% endblock %}
