//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-header__logotype-crown[width="32"] {
    top: -3px;
    margin-right: 2px;
}

[aria-hidden=true] {
    display: inline!important;
  }

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s, .govuk-table, .govuk-table__caption--m, .govuk-link, p, a, .govuk-body, .govuk-body-m, .govuk-footer__link, .govuk-footer, .govuk-header__service-name, .govuk-list, .app-task-list__items, .govuk-caption-m, .govuk-button, .govuk-fieldset__heading, .govuk-back-link, .govuk-radios__label, .govuk-hint, .govuk-label, .govuk-body-l, .govuk-details {
    font-family: Helvetica, Arial, sans-serif;
}




@import "_display";
@import "_uploading-photo";