{% extends "layout.html" %}

{% block pageTitle %}
Check if you need to send a fit note - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-wca-question.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check if you need to send a fit note</h1>

  
    <p class="govuk-body"> If DWP has told you that you are in one of these groups:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the work-related activity group for ESA</li>
      <li>the support group for ESA</li>
    </ul>
    <p class="govuk-body">you do not need to send a fit note unless your condition has changed.</p> 
    <p>If your condition has changed, you should tell DWP as soon as possible.</p>
      
        

    

 

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
</div>