 {% extends "layout-ab-test.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sending your paper fit note to DWP</h1>

    <p>If you have a paper fit note, you can use this service to send it to us online. If you cannot send it online, 
      <a href="dev-guidance-post" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link" rel="noreferrer noopener" target="_blank">you can post it (opens in new tab)</a>.
        </p>

  <h2 class="govuk-heading-m">Send online</h2>

  <p class="govuk-body">There are two ways to send your paper fit note online. You can either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>take a photo of your fit note</li>
    <li>scan your fit note</li>
  </ul>
  
  <p>It's important that the photo or scan of your fit note is clear so it can be read by our system. If it cannot be read, it could be rejected.</p>

 

  <style>
    .fit-note-zoom {max-width: 100%}
    .fit-note-zoom {max-height: auto}
    </style>
   <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">  

   <p>The example image with the red cross could be rejected because the edges are missing. The example image with the green tick would be accepted because the whole fit note is visible.</p>
  
    <h3 class="govuk-heading-s">Take a photo of your fit note</h3>

    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-bottom-3">Put the fit note on a flat surface, make sure it has no creases or folds and is lying straight.</li>
  
      <li class="govuk-!-padding-bottom-3">It should be well lit and without any shadows.</li>

      <li class="govuk-!-padding-bottom-3">If your fit note has a data matrix (a black and white square that looks like a QR code), make sure it's clearly visible.</li>

      <li class="govuk-!-padding-bottom-3">The whole of the fit note should be visible in the photo.</li></ol>

      <h3 class="govuk-heading-s">Scan your fit note</h3>

      <ol class="govuk-list govuk-list--number">
        <li class="govuk-!-padding-bottom-3">Make sure the scanner is connected to a laptop or other device.</li>
    
        <li class="govuk-!-padding-bottom-3">Place the fit note text side down on the scanner. If your fit note is 2-sided, you must scan the side which shows your details.</li>
  
        <li class="govuk-!-padding-bottom-3">Make sure the fit note is lying straight and there are no creases or folds.</li>
  
        <li class="govuk-!-padding-bottom-3">Save the scanned image somewhere that's easy to find later.</li></ol>

       <p>You might be able to scan your fit note using a smartphone instead of a scanner. If you have a smartphone, check to see if it can do this.</p>

       <div class="hods-alert">
        
        <p>
          After you have uploaded your fit note, you will be asked for your National Insurance number. You can find this on your benefit letter, payslip or P60.
        </p>
      </div>
      
       
     

    <form class="form" action="dev-upload" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue to upload</button></form>

  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>

    </div>

  </div>

</div>











    {% endblock %}
