{% extends "layout-ab-test.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

  <!--- 
<div class="hods-alert hods-alert--error">
  <h2 class="hods-alert__heading">
    Upload unsuccessful
  </h2>
  <p>
    Please try again or contact our
    <a href="#">support team</a>
    for assistance.
  </p>
</div>
<br>

  --->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Upload your fit note again</h1>

    <h2>Your fit note</h2>
    <img src="/public/images/dev-upload6.JPG" class="fit-note" height="200" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">

<br>
<br>
<br>

    <p>This fit note has failed our automated checks for the following reasons:
        </p>








        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
              <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" height="35">
      
            </dt>
            <dd class="govuk-summary-list__value">
              <h2>Your fit note is too light or dark</h2>
    

        
    <p>Try:</p>

    

        
<ul class="govuk-list govuk-list--bullet">


    <li>taking a photo or scanning your fit note in a well lit room</li>



    <li>using flash to help avoid shadows</li>



    <li>having a plain background behind your fitnote</li>


</ul>


            </dd>
          </div>
          </dl>








        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
              <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" height="35">
      
            </dt>
            <dd class="govuk-summary-list__value">
              <h2>Your fit note is not clear and readable</h2>
    

        
    <p>Try:</p>

    

        
<ul class="govuk-list govuk-list--bullet">


    <li>having the fit note closer to the camera</li>



    <li>having the edges of the fit note fill the whole frame</li>





</ul>


            </dd>
          </div>
          </dl>




          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                
                <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" height="35">
        
              </dt>
              <dd class="govuk-summary-list__value">
                <h2>Your fit note file is too large</h2>
      
  
          
      <p>You need to upload a fit note file that is smaller than 10MB</p>
  
      
  
          

  
              </dd>
            </div>
            </dl>




   







<br>









    <form class="form" action="dev-two-options" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue to guidance</button></form>

  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  



        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Talk to an advisor</h2>
          <ul class="govuk-list">
            <li>Telephone: 0800 169 0310</li>
            <li>Textphone: 0800 169 0314</li>
            <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
          </ul>
    
        </div>

  <!--- 


    <div class="hmpo-sidebar__inner">
            
      <h2>Your fit note</h2>
      <img src="/public/images/dev-upload6.JPG" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">
      
  
      </div>

  --->


  </div>

</div>











    {% endblock %}
