{% extends "layout.html" %}

{% block pageTitle %}
We can only accept fit notes for New Style Employment and Support Allowance (ESA) claims - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-have-you-applied-for-esa.html">Yn ôl</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Gallwn ond derbyn nodiadau ffitrwydd ar gyfer ceisiadau Lwfans Cyflogaeth a Chymorth (ESA) Dull Newydd.</h1>

  
     
    <p class="govuk-body">
      Os oes gennych nodyn ffitrwydd ac rydych wedi gwneud cais am neu’n cael Credyd Cynhwysol, mae angen i chi  <a href="https://www.gov.uk/universal-credit/changes-of-circumstances#content"> roi gwybod am newid.</a>.</p>
      <p class="govuk-body">
        Neu gallwch  <a href="https://www.gov.uk/employment-support-allowance">wneud cais am Lwfans Cyflogaeth a Chymorth (ESA) Dull Newydd</a>.</p>
  

    

 

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Siarad ag ymgynghorydd</h2>
    <ul class="govuk-list">
      <li>Ffôn: 0800 328 1744</li>
      <li>Ffôn testun: 0800 169 0314</li>
      <li>Dydd Llun i ddydd Gwener, 8am i 5pm (ac eithrio gwyliau cyhoeddus)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
</div>