{% extends "layout.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Anfon drwy'r post</h1>

    <div class="govuk-form-group">
      <p>Mae postio'ch nodyn ffitrwydd yn golygu y gallai gymryd mwy o amser i ni brosesu eich cais.</p>
      <p>Os na allwch ei anfon atom ar-lein, gallwch ei bostio, heb stamp, at:</p>

      <div class="govuk-inset-text">
        <ul class="govuk-list">
          <li>Freepost</li>
          <li>DWP ESA 26</li></ul>
      </div>

      <p>Dylech anfon eich rhif Yswiriant Gwladol gyda'ch nodyn ffitrwydd. Gallwch ddod o hyd i hwn ar eich llythyr budd-dal, slip cyflog neu P60.</p>

    </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Siarad ag ymgynghorydd</h2>
            <ul class="govuk-list">
              <li>Ffôn: 0800 328 1744</li>
              <li>Ffôn testun: 0800 169 0314</li>
              <li>Dydd Llun i ddydd Gwener, 8am i 5pm (ac eithrio gwyliau cyhoeddus)</li>
            </ul>
      
          </div>
        </div>
      
      </div>
      </aside>

    </div>
  </div>
{% endblock %}
