 {% extends "layout-ab-test.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Yn ôl
  </a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Anfon eich nodyn ffitrwydd papur i DWP</h1>

    <p>Os oes gennych nodyn ffitrwydd papur, gallwch ddefnyddio'r gwasanaeth hwn i'w anfon atom ar-lein. Os na allwch ei anfon ar-lein,
      <a href="dev-guidance-post" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link" rel="noreferrer noopener" target="_blank">gallwch ei bostio (agor mewn tab newydd)</a>.
        </p>

  <h2 class="govuk-heading-m">Anfon ar-lein</h2>

  <p class="govuk-body">There are two ways to send your paper fit note online. You can either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>take a photo of your fit note</li>
    <li>scan your fit note</li>
  </ul>
  
  <p>	
    Mae'n bwysig bod llun neu sgan eich nodyn ffitrwydd yn glir fel y gellir ei ddarllen gan ein system. Os na ellir ei ddarllen, gall gael ei wrthod.</p>

 

  <style>
    .fit-note-zoom {max-width: 100%}
    .fit-note-zoom {max-height: auto}
    </style>
   <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">  

   <p>Gall y ddelwedd enghreifftiol gyda'r groes goch gael ei wrthod oherwydd bod yr ymylon ar goll. Byddai'r ddelwedd enghreifftiol gyda'r tic gwyrdd yn cael ei derbyn oherwydd bod y nodyn ffitrwydd cyfan i'w weld.</p>
  
    <h3 class="govuk-heading-s">Tynnu lun o'ch nodyn ffitrwydd</h3>

    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-bottom-3">Rhowch y nodyn ffitrwydd ar wyneb gwastad, gwnewch yn siwr nad oes ganddo unrhyw gilfachau neu blygiadau a'i fod yn gorwedd yn syth.</li>
  
      <li class="govuk-!-padding-bottom-3">Dylai fod wedi'i oleuo'n dda a heb unrhyw gysgodion.</li>

      <li class="govuk-!-padding-bottom-3">Os oes gan eich nodyn ffitrwydd fatrics data (sgwâr du a gwyn sy'n edrych fel cod QR), gwnewch yn siwr ei fod i'w weld yn amlwg.</li>

      <li class="govuk-!-padding-bottom-3">Dylai'r nodyn ffitrwydd cyfan fod yn weladwy yn y llun.</li></ol>

      <h3 class="govuk-heading-s">Sganio eich nodyn ffitrwydd</h3>

      <ol class="govuk-list govuk-list--number">
        <li class="govuk-!-padding-bottom-3">Gwnewch yn siŵr bod y sganiwr wedi'i gysylltu â gliniadur neu ddyfais arall.</li>
    
        <li class="govuk-!-padding-bottom-3">Rhowch y nodyn ffitrwydd ochr y cynnwys i lawr ar y sganiwr. Os yw'ch nodyn ffitrwydd yn 2 ochr, rhaid i chi sganio'r ochr sy'n dangos eich manylion.</li>
  
        <li class="govuk-!-padding-bottom-3">Gwnewch yn siwr bod y nodyn ffitrwydd yn gorwedd yn syth ac nid oes unrhyw gilfachau neu blygiadau.</li>
  
        <li class="govuk-!-padding-bottom-3">Arbedwch y ddelwedd wedi'i sganio yn rhywle sy'n hawdd dod o hyd iddo yn ddiweddarach.</li></ol>

       <p>Efallai y gallwch sganio'ch nodyn ffitrwydd gan ddefnyddio ffôn clyfar yn hytrach na sganiwr. Os oes gennych ffôn clyfar, gwiriwch i weld a all wneud hyn.</p>

    <div class="govuk-!-padding-bottom-2"></div>

    <form class="form" action="dev-upload2" method="post">
      <button class="govuk-button" data-module="govuk-button">Parhau i lwytho</button></form>

  </div>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Siarad ag ymgynghorydd</h2>
    <ul class="govuk-list">
      <li>Ffôn: 0800 328 1744</li>
      <li>Ffôn testun: 0800 169 0314</li>
      <li>Dydd Llun i ddydd Gwener, 8am i 5pm (ac eithrio gwyliau cyhoeddus)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
