{% extends "layout-ab-test.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" id="top">Sending your paper fit note to DWP</h1>

    <script>
      // JavaScript to open details and scroll down
      function openDetails() {
        var detailsElement = document.getElementById('detailsComponent');
        if (detailsElement) {
          detailsElement.open = true;
          detailsElement.scrollIntoView({ behavior: 'smooth' });
        }
      }
    </script>
    
    <p>
      If you have a paper fit note, you can use this service to send it to us online. 
      If you cannot send it online, 
      <a href="#postal" aria-label="Read more about what to do if you cannot send your fit note online" onclick="openDetails()">
        you can post it
      </a>.
    </p>

  <h2 class="govuk-heading-m">Send online</h2>

  <p>To use this service, you will need to take a photo of your fit note or scan it.</p>

  <p>It's important that the photo or scan of your fit note is clear so it can be read by our system. If it cannot be read, it could be rejected.</p>
  <style>
    .fit-note-zoom {max-width: 100%}
    .fit-note-zoom {max-height: auto}
    </style>
   <img src="/public/images/20231219_Camera_View.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images">  

   <p>The example image with the red cross could be rejected because the edges are missing. The example image with the green tick would be accepted because the whole fit note is visible.</p>
  
    <h3 class="govuk-heading-s">Take a photo of your fit note</h3>

    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-bottom-3">Put the fit note on a flat surface, make sure it has no creases or folds and is lying straight.</li>
  
      <li class="govuk-!-padding-bottom-3">It should be well lit and without any shadows.</li>

      <li class="govuk-!-padding-bottom-3">If your fit note has a data matrix (a black and white square that looks like a QR code), make sure it's clearly visible.</li>

      <li class="govuk-!-padding-bottom-3">The whole of the fit note should be visible in the photo.</li></ol>

      <h3 class="govuk-heading-s">Scan your fit note</h3>

      <ol class="govuk-list govuk-list--number">
        <li class="govuk-!-padding-bottom-3">Make sure the scanner is connected to a laptop or other device.</li>
    
        <li class="govuk-!-padding-bottom-3">Place the fit note text side down on the scanner. If your fit note is 2-sided, you must scan the side which shows your details.</li>
  
        <li class="govuk-!-padding-bottom-3">Make sure the fit note is lying straight and there are no creases or folds.</li>
  
        <li class="govuk-!-padding-bottom-3">Save the scanned image somewhere that's easy to find later.</li></ol>

       <p>You might be able to scan your fit note using a smartphone instead of a scanner. If you have a smartphone, check to see if it can do this.</p>

    <div class="govuk-!-padding-bottom-2"></div>

    <form class="form" action="dev-upload2" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue to upload</button></form>

    <details id="detailsComponent" class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What to do if you cannot send your fit note online
        </span>
      </summary>
      <div class="govuk-details__text">
        <h2 class="govuk-heading-m" id="postal">Send by post</h2>
       <p>Posting your fit note means it could take longer for us to process your claim.</p>
       <p> If you cannot send it to us online you can post it, without a stamp, to:</p>
       <ul class="govuk-list">
         <li>Freepost</li>
         <li>DWP ESA 26</li></ul>
      </div>
    </details>

    <a class="govuk-link govuk-link--no-visited-state back-to-top__link" href="#top">
      <svg role="presentation" focusable="false" class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" style="padding-right:5px;">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>Back to top
    </a>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>

    </div>

  </div>

</div>





    {% endblock %}
