{% extends "layout.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Before you upload your digital fit note</h1>

    <p>It is important that your fit note can be read by our system, or it could be rejected.</p>

      <p>If it contains a data matrix (a black and white square that looks like a QR code), it should be clear.</p>

      <p>Before you upload it, make sure:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>all the text can be read easily</li>
        <li>it is on 1 page with your contact details visible</li>
        <li>the whole fit note is visible, including all four corners</li></ol>

      <style>
        .fit-note-zoom {max-width: 100%}
        .fit-note-zoom {max-height: auto}
        </style>
       <img src="/public/images/20231219-default.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">  

    <div class="govuk-!-padding-bottom-2"></div>

    <form class="form" action="/dev4/dev-upload" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue to upload</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>

    </div>
  </div>

</div>





    {% endblock %}
