{% extends "layout.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sending your paper fit note to DWP</h1>

    <p>To upload your paper fit note, you will need to make a digital copy of it.</p>
    <p>If you do not want to do this, you can post it, without a stamp, to:</p>

  <div class="govuk-inset-text">
    Freepost DWP ESA 26
  </div>

  <h2 class="govuk-heading-m">How to make a digital copy of your fit note</h2>

  <p>You can either:</p>

  <ol class="govuk-list govuk-list--bullet">
    <li class="govuk-!-padding-bottom-3">take a photo of your fit note with a digital camera, smartphone or other digital device, or</li>
    <li class="govuk-!-padding-bottom-3">scan your fit note using a scanner</li>
    <li class="govuk-!-padding-bottom-3">scan your fit note using a smartphone (not all smartphones can do this so you will need to check yours)</li></ol>

    <h3 class="govuk-heading-s">Take a photo of your fit note</h3>

    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-bottom-3">Put the fit note on a flat surface, make sure it has no creases or folds and is lying straight on.</li>
  
      <li class="govuk-!-padding-bottom-3">It should be well lit and without any shadows.</li>

      <li class="govuk-!-padding-bottom-3">If your fit note has a data matrix (a black and white square that looks like a QR code), make sure it's clearly visible.</li>

      <li class="govuk-!-padding-bottom-3">The whole of the fit note should be visible in the photo.</li></ol>

      <h3 class="govuk-heading-s">Scan your fit note</h3>

      <ol class="govuk-list govuk-list--number">
        <li class="govuk-!-padding-bottom-3">Make sure the scanner is connected to a laptop or other device.</li>
    
        <li class="govuk-!-padding-bottom-3">Place the fit note text side down on the scanner. If your fit note is 2-sided, you must scan the side which shows your details.</li>
  
        <li class="govuk-!-padding-bottom-3">Make sure the fit note is lying straight and there are no creases or folds.</li>
  
        <li class="govuk-!-padding-bottom-3">Save the scanned image somewhere that's easy to find later.</li></ol>


        <h3 class="govuk-heading-s">Scan your fit note using a smartphone</h3>
       <p>Check your user manual to find out if your smartphone can do this. If it can, follow the instructions given.</p>
       <p>It's important that the digital copy of your fit note is clear so it can be read by our system. If it cannot be read, it could be rejected.</p>


        <style>
          .fit-note-zoom {max-width: 100%}
          .fit-note-zoom {max-height: auto}
          </style>
         <img src="/public/images/fit-note-zoom2.png" class="fit-note-zoom">  

         <h2 class="govuk-heading-m">File size</h2>
       <p>The file size must not be larger than 15MB. If it's larger than 15MB, you will need to follow the instructions on your device to make a smaller version.</p>
       <p>To check the file size (these steps may vary for different types of devices):</p>
       <ol class="govuk-list govuk-list--number">
        <li>Find the file on your device and select it.</li>
        <li>Select the option for more information or more details.</li>
        <li>Look for the file size - it should not be larger than 15MB or 15000kB.</li>
      </ol>

      <h2 class="govuk-heading-m">File format</h2>
      <p>Your fit note must be in one of these formats:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>JPG</li>
        <li>JPEG</li>
        <li>HEIC</li>
        <li>HEIF</li>
        <li>BMP</li>
        <li>PNG</li>
        <li>TIFF</li>
        <li>PDF</li></ol>

        <p>To check the format, look at the last three letters of the file name.</p>

        <p>For example:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>.pdf is a PDF file</li>
          <li>.jpg is a JPG file</li></ol>


    <div class="govuk-!-padding-bottom-2"></div>

    <form class="form" action="dev-upload2" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue to upload</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>

    </div>
  </div>

</div>





    {% endblock %}
