{% extends "layout-ab-test.html" %}

{% block pageTitle %}
There is a problem with the image of your fit note - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

  <!--- 
<div class="hods-alert hods-alert--error">
  <h2 class="hods-alert__heading">
    Upload unsuccessful
  </h2>
  <p>
    Please try again or contact our
    <a href="#">support team</a>
    for assistance.
  </p>
</div>
<br>

  --->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">There is an issue with the image of your fit note</h1>

    
    <img src="/public/images/dev-upload6.JPG" class="fit-note" height="300" aria-label="image preview of uploaded fit note" alt="Image showing preview of uploaded fit note">

<br>
<br>


<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:10%">


      
      
      <p>This is the file you have uploaded. It cannot be accepted for the following reason:</p>
    
       <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:5%">
              
              <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="" height="35">
      
            </dt>
            <dd class="govuk-summary-list__value">


      
        <h2>The selected file does not look like a fit note</h2>

        <h3>This could be because:</h3>
        <ol class="govuk-list govuk-list--bullet">
          <li>The image is blurry and cannot be read</li>
          <li>The file you uploaded was not a fit note</li>
          <li>Your fit note is not a Med 3 fit note</li></ol>

        <h3>What you can do</h3>

        <ol class="govuk-list govuk-list--bullet">
          <li>Take another photo, making sure the whole fit note is clear</li>
          <li>Upload a different file</li>
        <li>If your fit note is not a Med 3, <a href="dev-guidance-post" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link" rel="noreferrer noopener" target="_blank">you will need to post your fit note to DWP (opens in new tab)</a></li>
        </ol>
        

       
          
          
  
      </dd>
    </div>
    </dl>


      

         


   

            
  

        









  
  
              
          




   















  

<br>







    <form class="form" action="dev-upload" method="post">
      <button class="govuk-button" data-module="govuk-button">Back to upload page</button></form>

  

  <br>
  <br>
    
        <h2 class="govuk-heading-m">Talk to an advisor</h2>
        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
        </ul>
  
     
    </div>
  
  </div>



  <!--- 


    <div class="hmpo-sidebar__inner">
            
      <h2>Your fit note</h2>
      <img src="/public/images/dev-upload6.JPG" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">
      
  
      </div>

  --->


  











    {% endblock %}
