{% extends "layout-ab-test.html" %}

{% block pageTitle %}
There is a problem with the image of your fit note - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

  <!--- 
<div class="hods-alert hods-alert--error">
  <h2 class="hods-alert__heading">
    Upload unsuccessful
  </h2>
  <p>
    Please try again or contact our
    <a href="#">support team</a>
    for assistance.
  </p>
</div>
<br>

  --->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">There is a problem with the image of your fit note</h1>

    
    <img src="/public/images/dev-upload6.JPG" class="fit-note" height="300" aria-label="image preview of uploaded fit note" alt="Image showing preview of uploaded fit note">

<br>
<br>


<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:10%">


      
      
      <p>This is the fit note you have uploaded. It cannot be accepted for the following reason:</p>
    
       <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:5%">
              
              <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="" height="35">
      
            </dt>
            <dd class="govuk-summary-list__value">


      
        <h2>Only the [left/right] side of the image is visible</h2>

        <p>This could be because:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li> the photo was taken at an angle</li>
          <li>the photo is blurry or has a shadow across it</li>
          <li>the fit note is double-sided</li></ol>

        <h3>What you can do</h3>
       
        <p>Take another photo, making sure the whole fit note is visible and clear.</p>
          
          <p>If your fit note is double-sided, you will not be able to upload it using this service. <a href="release3/dev-guidance-post" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out how to post your fit note to DWP (opens in new tab)</a>
          
  
      </dd>
    </div>
    </dl>


      

         

<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:10%">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:5%">
            
            <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="" height="35">
    
          </dt>
          <dd class="govuk-summary-list__value">

  
      
      <h2>Only the [XXX] corner of the image is visible
          </h2>
      
      
      
      
              
          <p>This could be because:</p>
      
          <ol class="govuk-list govuk-list--bullet">
            <li> the photo was taken at an angle</li>
            <li>the photo is blurry or has a shadow across it</li>
            <li>the fit note is double-sided</li></ol>
            <h3>What you can do</h3>
      
            <p>Take another photo, making sure the whole fit note is visible and clear.</p>
              
              <p>If your fit note is double-sided, you will not be able to upload it using this service. <a href="dev-guidance-post" aria-label="Read more about what to do if you cannot send your fit note online" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out how to post your fit note to DWP (opens in new tab)</a>

              </dd>
            </div>
            </dl>
                <br>

          
<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:5%">
      
      <img src="/public/images/cross.png" class="fit-note-zoom" aria-label="" height="35">

    </dt>
    <dd class="govuk-summary-list__value">



<h2>Only the top half of the image is visible</h2>

<p>This could be because:</p>
<ol class="govuk-list govuk-list--bullet">
  <li> the photo was taken at an angle</li>
  <li>the photo is blurry or has a shadow across it</li></ol>

<h3>What you can do</h3>

<p>Take another photo, making sure the whole fit note is visible and clear.</p>
  
 
  

</dd>
</div>
</dl>

            
  

        








<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:10%">
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:5%">
            
            <img src="/public/images/warning.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" height="35">
    
          </dt>
          <dd class="govuk-summary-list__value">
               
              
                <h2>The data matrix is not clear</h2>
      
      
                <p>The data matrix is the small square of black and white dots at the bottom of your fit note. </p>
                <h3>What you can do</h3>
                  <p>Take another photo, making sure the data matrix is clear and in focus.
                  </p>
                  
          
              </dd>
            </div>
            </dl>
  
  
              
          




   















  

<br>







    <form class="form" action="dev-upload" method="post">
      <button class="govuk-button" data-module="govuk-button">Go back</button></form>

  

  <br>
  <br>
    
        <h2 class="govuk-heading-m">Talk to an advisor</h2>
        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
        </ul>
  
     
    </div>
  
  </div>



  <!--- 


    <div class="hmpo-sidebar__inner">
            
      <h2>Your fit note</h2>
      <img src="/public/images/dev-upload6.JPG" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">
      
  
      </div>

  --->


  











    {% endblock %}
