{% extends "layout.html" %}

{% block pageTitle %}
You do not need to send a fit note - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-wca-question.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">You do not need to send a fit note</h1>

  
   
    <p class="govuk-body">If your condition changes, you should <a href="https://www.gov.uk/employment-support-allowance/change-of-circumstances" aria-label="How to notify DWP if your condition changes" class="govuk-link" target="_blank">tell DWP as soon as possible (opens in new tab)</a>.
    </p>
    




    
      
        

    

 
<br>

      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
</div>