{% extends "layout.html" %}

{% block pageTitle %}
Fit note submitted - Send your fit note - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Fit note submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference is your National Insurance number
        </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Keep your fit note safe, do not throw it away.
      </p>

      <p>You do not need to do anything else, or call to check on its progress. If there’s a problem you’ll be contacted.</p>

      <p>If you have given us your current mobile number, you will get a text when we receive your fit note. This might take up to 24 hours to arrive and will be sent between Monday and Friday, 8am to 8pm.</p>

      <p>You will need to keep sending us fit notes as long as you're unfit for work. We will tell you when you can stop sending them. For example, if your fit note is for 14 days, you will need to send us another one when it runs out.</p>
      <p><a href="dev-start">Send another fit note</a></p>

      <h2 class="govuk-heading-m">If you need information about your New Style ESA claim</h2>
      <p>See what happens <a href="https://www.gov.uk/guidance/new-style-employment-and-support-allowance#after-your-claim-is-assessed">After your claim is assessed (opens in a new tab)</a></p>




      <h2 class="govuk-heading-m">If you get a reminder letter after receiving a confirmation text </h2>

      <p>You might get a letter from DWP in the next few days reminding you that your fit note expires soon. This can happen for two reasons.</p>

<h3 class="govuk-heading-s">The letter might have been posted before your new fit note had been received</h3>

<p>Check the date on the letter. If it’s before the date you uploaded your fit note, you do not need to upload the same fit note again. You should still read the letter as it might contain important information.</p>

 
<h3 class="govuk-heading-s"> You uploaded a fit note that has expired or will expire in the next 7 days</h3>
<p>You might have done this to cover a period of sickness in the past.</p>
<p>Our system automatically tells us if a fit note has expired or will expire soon. This is to make sure your benefits are not interrupted. You do not need to upload the same fit note again but you should still read the letter as it might contain important information.</p>





      <p><a href="https://www.gov.uk/done/send-fit-note">What do you think of this service?</a> </p>

      


      </form>

    </div>


{% endblock %}
