{% extends "layout.html" %}

{% block pageTitle %}
Before you upload your digital fit note - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dev-two-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Before you upload your digital fit note</h1>

    <h2 class="govuk-heading-m">1. Check your fit note is valid</h2>

      
        <p>Your fit note should have the unique ID 'Med 3' at the bottom left - if this is missing, or if our system cannot read it, your fit note could be rejected.</p>
        
        <style>
          .fit-note-zoom {max-width: 100%}
          .fit-note-zoom {max-height: auto}
          </style>
         <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">    
         <br> <br> <br>

    <div class="govuk-!-padding-bottom-2"></div>
          <p>The small black and white square (the data matrix) at the bottom left of your fit note should be clear - if our system cannot read it, your fit note could take longer to process.</p>
    

        <style>
          .fit-note-zoom {max-width: 100%}
          .fit-note-zoom {max-height: auto}
          </style>
         <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">    

    <div class="govuk-!-padding-bottom-2"></div>
    <h2 class="govuk-heading-m">2. Check your fit note will be accepted</h2>
    
      <p>Everything is on 1 page (the fit note is not double-sided).</p> 

      <style>
        .fit-note-zoom {max-width: 100%}
        .fit-note-zoom {max-height: auto}
        </style>
       <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">    
       <br> <br> <br>


      <p>All the words, incuding your contact details, are clear and easy to read.</p> 
      <style>
        .fit-note-zoom {max-width: 100%}
        .fit-note-zoom {max-height: auto}
        </style>
       <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">    
       <p>The fit note on the left would be rejected because it is not readable.</p>
       
       <br> <br> <br>
<p>The whole of the fit note is visible, including all four corners.</p>

<style>
  .fit-note-zoom {max-width: 100%}
  .fit-note-zoom {max-height: auto}
  </style>
 <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">    
 <p>The fit note on the left would be rejected because the corners are missing.</p>
 
 <br> <br> <br>
 <p>The image is either portrait or landscape</p>

 <style>
  .fit-note-zoom {max-width: 100%}
  .fit-note-zoom {max-height: auto}
  </style>
 <img src="/public/images/20240129-crosshairs.png" class="fit-note-zoom" aria-label="Examples of correct and incorrect fit note images" alt="Image showing two fitnotes, one is blurry with a cross next to it, and the other one is focus with a tick next to it">    
 <br> <br> <br>

      <div class="govuk-!-padding-bottom-2"></div>
    <h2 class="govuk-heading-m">What to do if your fit note has a password</h2>
      <p>If you need to enter a password to see your fit note, our system will not be able to read it and it will be rejected.</p>
      <p>If possible, you should save your fit note as a new file without a password and upload this new version.</p>


      <div class="hods-alert">
        
  <p>You will need to enter your NI number after you have uploaded your fit note. You can find this on your benefit letter, payslip or P60.</p></div>

          
      
    

      



    <form class="form" action="/release2/dev-upload2" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue to upload</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 5pm (except public holidays)</li>
      </ul>

    </div>
  </div>

</div>





    {% endblock %}




















