{% extends "layout.html" %}

{% block pageTitle %}
Fit note submitted - Send your fit note - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Fit note submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference is your National Insurance number
        </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Keep your fit note safe, do not throw it away.
      </p>

      <p>It can take up to 24 hours for you to receive a text confirming we've got your fit note (Monday to Friday, 8am to 8pm). You do not need to check its progress. If there's a problem, we'll contact you.</p>

      <p>You will need to keep sending us fit notes as long as you are unfit for work. For example, if your fit note is for 14 days, you will need to send us another one when it runs out if you're still unfit for work. We will tell you when you can stop sending them.</p>

      <p><a href="https://www.gov.uk/done/send-fit-note">What do you think of this service?</a> (takes 30 seconds)</p>

      <p><a href="/dev4/dev-start">Send another fit note</a></p>


      </form>

    </div>


{% endblock %}
