
{% extends "layout.html" %}






{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Fit Note Prototype Versions</h1>

        <h2 class="govuk-heading-m">Please find the Fit Note prototype versions currently under test and refinement</h2>

      <p> The Baseline Prototypes are developed leveraging the questions from <b><a href="https://www.gov.uk/send-fit-note">Send your fit note for your ESA claim</a></b> from the current live Beta.</p>


      <p> For any questions, please contact: <a href="mailto:rebecca.williams5@@engineering.digital.dwp.gov.uk">Rebecca Williams</a>.
      </p>

        <!DOCTYPE html>
        <style>
                              .falcon {max-width: 15%}
                              .falcon {max-height: auto}
        </style>
        <center>
            <img src="/public/images/falcon.png" class="falcon" alt="team falcon logo">
        </center>
        </html>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Prototype for Developers
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>This section is for the Development Team. Please note that various elements of the Prototype will be <b>subject to change</b> as per User Testing. The Design Team will coordinate changes with the BA Team.</p>

            <div class="govuk-inset-text">
                <b>Sprint Prototype</b> is designed for the Development Team. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.
                <p>Tickets included for design changes in sprint 29: <a href="https://dwpdigital.atlassian.net/browse/HTF-1085">HTF-1085 - 3 to 2 radio buttons </a>
                  <p><a href="https://dwpdigital.atlassian.net/browse/HTF-1086">HTF-1086 - Split upload and guidance pages (paper) </a></p><a href="https://dwpdigital.atlassian.net/browse/HTF-1087">HTF-1087 - Split upload and guidance pages (digital) </a></p>
            </div>

            <form class="form" action="/dev3/dev-start" method="post">
              <button class="govuk-button" data-module="govuk-button">Sprint Prototype</button></form>

              <form class="form" action="/dev4/dev-start" method="post">
                <button class="govuk-button" data-module="govuk-button">Release 1 - 2023</button></form>

              <div class="govuk-inset-text">
                  <!DOCTYPE html>
                  <style>

            .welsh-flag {max-width: 20%}
            .welsh-flag {max-height: auto}
    </style>
                  <img src="/public/images/welsh-flag.png" class="welsh-flag" alt="welsh-flag">
                  </html>
                  <div class="govuk-!-padding-bottom-3"></div>
                  <b>Welsh Prototype</b> is designed for the Development Team. It is identical to the the above Catalogue Prototype, but in the <b>Welsh language</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.
              </div>

              <form class="form" action="welsh-dev-start" method="post">
                  <button class="govuk-button" data-module="govuk-button">Welsh Prototype</button></form>

          </div>
        </div>

          <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Error Messages for Developers
        </span>
                  </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <p class='govuk-body'>This section is for the Development Team. Please note that various elements of the Prototype will be <b>subject to change</b> as per User Testing. The Design Team will coordinate changes with the BA Team.</p>

                  <div class="govuk-inset-text">
                      <b>The error messages</b> are designed for the Development Team. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.
                  </div>

                  <h2 class="govuk-heading-s">
                      1. Server Errors</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Server error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-404-error" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>1a. 404 Server Error</b></button></form>

                      <form class="form" action="dev-500-error" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>1b. 500 Server Error</b></button></form>

                      <form class="form" action="dev-503-error" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>1c. 503 Server Error</b></button></form>
                  </details>

                  <h2 class="govuk-heading-s">
                      2. Do you have a fit note radio error</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Fit note radio error
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-do-you-have-a-fit-note" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>2. Unselected Radio Button Error</b></button></form>

                  </details>

                  <h2 class="govuk-heading-s">
                      3. How did you obtain your fit note error</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Fit note journey selection radio error
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-three-options" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>3. Unselected Radio Button Error</b></button></form>

                  </details>

                  <h2 class="govuk-heading-s">
                      4. The selected file must be smaller than 10MB</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        File size error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-10mb-paper" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>4a. Paper: File Size Error</b></button></form>

                      <form class="form" action="dev-error-10mb-sms" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>4b. SMS: File Size Error</b></button></form>

                      <form class="form" action="dev-error-10mb-email" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>4c. Email: File Size Error</b></button></form>
                  </details>

                  <h2 class="govuk-heading-s">
                      5. The selected file must be a JPG, JPEG, BMP, PNG, TIF or PDF</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        File-type error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-file-type-paper" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>5a. Paper: File-Type Error</b></button></form>

                      <form class="form" action="dev-error-file-type-sms" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>5b. SMS: File-Type Error</b></button></form>

                      <form class="form" action="dev-error-file-type-email" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>5c. Email: File-Type Error</b></button></form>

                  </details>

                  <h2 class="govuk-heading-s">
                      6. Selected file must be clear and readable, containing the whole fit note</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Reading error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-clear-paper" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>6a. Paper: Reading Error</b></button></form>

                      <form class="form" action="dev-error-clear-sms" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>6b. SMS: Reading Error</b></button></form>

                      <form class="form" action="dev-error-clear-email" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>6c. Email: Reading Error</b></button></form>

                  </details>

                  <h2 class="govuk-heading-s">
                      7. You must select a file to continue</h2>

                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Unselected file error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-file-continue-paper" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>7a. Paper: Unselected File Error</b></button></form>

                      <form class="form" action="dev-error-file-continue-sms" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>7b. SMS: Unselected File Error</b></button></form>

                      <form class="form" action="dev-error-file-continue-email" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>7c. Email: Unselected File Error</b></button></form>

                  </details>

                  <h2 class="govuk-heading-s">
                      8. Enter a National Insurance number in the correct format</h2>
                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        National Insurance number error prototype
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <form class="form" action="dev-error-ni-number-format" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>8. NI Number Error</b></button></form>
                  </details>

                  <h2 class="govuk-heading-s">
                      9. Address error prototypes</h2>
                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Address error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <b>8a.</b> Enter your post code</p>
                      <form class="form" action="dev-error-post-code" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>9a. Unentered Post Code Error</b></button></form>
                      <h2 class="govuk-heading-s">
                          8b. Enter a real post code</h2>
                      <form class="form" action="dev-error-real-post-code" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>9b. Real Post Code Error</b></button></form>
                      <h2 class="govuk-heading-s">
                          8c. Enter your house name or number</h2>
                      <form class="form" action="dev-error-house-name-or-number" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>9c. House Address Error</b></button></form>
                  </details>

                  <h2 class="govuk-heading-s">
                      10. Text message selection errors</h2>
                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Text message error prototypes
                        </span>
                      </summary>
                      <div class="govuk-!-padding-bottom-6"></div>
                      <p>
                          <b>6a.</b> Select yes if you would like to receive a text message</p>
                      <form class="form" action="dev-error-yes-text-message" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>10a. Text Message Unselected Error</b></button></form>
                      <p><b>6b.</b> Enter a mobile number, like 07700 900 982 or +44 7700 900 982</p>
                      <form class="form" action="dev-error-mobile-number-example" method="post">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>10b. Mobile Number Error</b></button></form>
                  </details>




                  <div class="govuk-inset-text">
                      <!DOCTYPE html>
                      <style>

            .welsh-flag {max-width: 20%}
            .welsh-flag {max-height: auto}
    </style>
                      <img src="/public/images/welsh-flag.png" class="welsh-flag" alt="welsh-flag">
                      </html>
                      <div class="govuk-!-padding-bottom-3"></div>
                      <b>The Welsh error messages</b> are designed for the Development Team. They are identical to the the above English error messages, but in the <b>Welsh language</b>. Please develop the look and feel of the prototype and <b>do not replicate the code</b>.
                  </div>

                  <form class="form" action="welsh-dev-500-error" method="post">
                      <button class="govuk-button govuk-button--secondary" data-module="govuk-button"><b>Welsh 500 Server Error</b></button></form>

              </div>
          </div>




          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Prototypes for Design Team for User Testing
          </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
  
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  'Prototypes for Design Team for User Testing' are not for production!
                </strong>
              </div>
  
  
              <p class="govuk-body">
                The older design team prototypes can be found on <a href="old-testing.html" class="govuk-link">a seperate page</a>.
              </p>
  
  <br>
  <br>
  
  <h2 class="govuk-heading-s">Design iteration prototypes</h2>
  
  
  
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Usability testing 01/02/2024
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p><b>The first iteration based on user feedback.</b></p>
                  <p class="govuk-body">This prototype version includes the following changes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Content updates to photo or scan pages</li>
    <li>Different image success and failure variants on paper journey</li>
    <li>Upload fitnote confirmation</li>
  </ul>
  <br>
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Version 1.1 iteration
                  </button>
                
                </div>
              </details>
  
  
            
  
  
  
              
  
  
            </div>
          </div>








        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Old prototype versions
        </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                These are old prototypes that are not for production!
              </strong>
            </div>


            

<br>


<h2 class="govuk-heading-s">Version 1 - dev-guidance-paper</h2>


                <p class="govuk-body">This prototype version includes the old content before the latest iterations following the 01/02/2024 Usability testing. </p>

                <form class="form" action="/dev3-5/dev-guidance-paper" method="post">
                  <button class="govuk-button" data-module="govuk-button">Start now</button></form>
              
              </div>
            </details>


          



            


          </div>
        </div>
      </div>



    

    </div>
  </div>
</div>
</div>
</form>
</div>

{% endblock %}
