{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}



{% block header %}

{% set govukRebrand = true %}
        {{ 
            govukHeader({
                homepageUrl: "/",
                serviceUrl: "/",
                serviceName: "Send your fit note for your ESA claim
                ",
                rebrand: true,
                containerClasses: "govuk-width-container",
                useTudorCrown: true
                

            })
      
    }}


{% endblock %}


{% block footer %}

{% set govukRebrand = true %}

  {{ govukFooter({
    rebrand: true,
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}