{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/dev4/dev-guidance-paper",
         text: "A"
       },
       {
        href: "/dev4/dev-guidance-paper2",
        text: "B"
      },
      {
        href: "/dev4/dev-guidance-paper3",
        text: "C"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

